.ipynb_checkpoints
.env
__pycache__/
media
staticfiles/
*.tmp
*.bak
*.swp

coverage/

.idea/
typings/

*.sqlite3

media/
media-temp/
external-media/

pyrightconfig.json

static/
schema.json

typings/

pyrightconfig.json
response.json

secrets.yml
celerybeat-schedule

# testing
/coverage
.coverage
coverage.xml
htmlcov
sitecus