.ipynb_checkpoints
.env
__pycache__/
media
staticfiles/
*.tmp
*.bak
*.swp

coverage/

.idea/

*.sqlite3

media/
media-temp/
external-media/

static/
schema.json

secrets.yml
celerybeat-schedule

# testing
/coverage
.coverage
coverage.xml
htmlcov
sitecus