{% extends "admin/base_site.html" %}


{% block content %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

<!--Reset Password-->
<div style="display: flex; justify-content: center;">
    <div style="border: 1px solid #f0f0f0; border-radius: 5px;">
        <h2 class="font-weight-bold mt-3" style="padding: 6px 12px">Reset Password</h2>
        <hr>
        <form style="display: flex; padding: 12px; flex-direction: column; gap: 10px;" action="" method="POST"> {% csrf_token %}
            <div style="display: flex; gap: 4px; align-items: center">Email:<div style="display: flex; flex-grow: 1; align-items: stretch;">{{password_reset_form.email}}</div></div>
            <div class="h-captcha" data-sitekey={{HCAPTCHA_SITE_KEY}}></div>
            <input style="align-self: flex-end" type="submit" value="Submit" />
        </form>
    </div>
</div>

{% endblock %}
