{% extends "admin/base_site.html" %}


{% block content %}
<script src="https://js.hcaptcha.com/1/api.js" async defer></script>

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
        <form action="" method="POST"> {% csrf_token %}
            Email :{{password_reset_form.email}}
            <div class="h-captcha" data-sitekey={{HCAPTCHA_SITE_KEY}}></div>
            <br />
            <input type="submit" value="Submit" />
          </form>
      </div>

{% endblock %}